@*
   For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--Import the model you want to use-->
@model PartyInvites.Models.GuestResponse;
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>RSVP Form</title>
</head>
<body>
   <form asp-action="RsvpForm" method="post">
      <p>
         <label asp-for="FirstName">First Name:</label>
         <input asp-for="FirstName" />
      </p>
      <span asp-validation-for="FirstName" style="color:palevioletred"></span>
      <p>
         <label asp-for="LastName">Last Name:</label>
         <input asp-for="LastName" />
      </p>
      <span asp-validation-for="LastName" style="color:palevioletred"></span>
      <p>
         <label asp-for="Email">Email:</label>
         <input asp-for="Email" />
      </p>
      <span asp-validation-for="Email" style="color:palevioletred"></span>
      <p>
         <label asp-for="Phone">Phone:</label>
         <input asp-for="Phone" />
      </p>
      <span asp-validation-for="Phone" style="color:palevioletred"></span>
      <p>
         <label>Will you attend?</label>
         <select asp-for="WillAttend">
            <option value="">Choose an option</option>
            <option value="true">Yes, I will attend</option>
            <option value="false">No, I can't come</option>
         </select>
      </p>
      <span asp-validation-for="WillAttend" style="color:palevioletred"></span>
      <button type="submit">Submit RSVP</button>
   </form>
</body>
</html>
